/*html{*/
/*    color: white;*/
/*}*/

body{
    margin: 0px;
    /*background: #000000;*/
}

#root {
    justify-items: center;
    justify-content: center;
    margin: 5% auto;
}
.log-content {

    white-space: pre-wrap;
    padding: 1rem;
    height: 60vh;
    margin-top: 1rem;
    width: 90%;
    border: solid lightgray 3px;
    border-radius: 11px;

    overflow-y: scroll;
}

.modal-container {
    background: #FFFFFF;

    width: 1300px;
    height: 800px;

    border: solid lightgray 3px;
    border-radius: 15px;

    position: fixed;
    left: 180px;
    top: 80px;

    /*display: flex;*/
    justify-content: center;
    align-items: center;
}
.modal-content {

    margin: auto 0;

    width: 100%;

    /*justify-content: center;*/
    /*justify-items: center;*/
    /*align-items: center;*/
}
select {
    margin: 0px 0px 0px 5%;
    width: 40%;
}
ul{
    width: 100%;
}
li {
    list-style: none;

}
.labels{
    font-size: 20px;
    width: 100%;
    margin: 2%;
    display: flex;

    justify-items: center;
    justify-content: center;
    align-items: center;
}

.add-process {
    margin: 2%;
    font-size: 30px;
}
.submit-area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-task-button{
    padding: 1% 2% 1% 2%;
}

.modal-close-button{
    padding: 1% 2% 1% 2%;
}
select{
    padding: 0.5% 1% 0.5% 1%;
}