.execute-process-container{
    margin-left: 80px;
    width: calc(100% - 80px);
    height: 100%;
    background-color: #F8F7FE;
}

.execute-process-contents-wrapper{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 20px;
    padding: 0 3%;
    border: 1px solid #d9d9d9;
    background-color: white;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
    height: 400px;
}

.workstation-title{
    font-size: 32px;
    font-weight: 700;
}

.workstation-content-wrapper{
    display: flex;
    margin-top: 1%;
    height: 300px;
    
}

.GPU_container{
    border: 1px solid #d9d9d9;
    width: 400px;
    height: 300px;
    margin-right: 5%;
}

.gpu-header{
    padding: 5px 20px;
    height: 40px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.gpu-content{
    height: 260px;
}

.FullGPU-container{
    height: 100%;
    cursor: pointer;
    padding: 10px 15px;
}
.EmptyGPU-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 36px;
}