.home-container {
    margin-left: 80px;
    width: calc(100% - 80px);
    height: 100%;
}
.contents-wrapper{
    margin-right: 10%;
    margin-left: 10%;
}
.name_and_functions{
    margin: 30px 40px 30px 0px;
}
.Tasks{
}
.sort{
    align-content: center;
    margin-left: 30px;
    width: 140px;
}
.title-sort-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.addTask{
    width: 120px;
    font-size: 1px;
}
.button-wrapper{
    align-content: center;
}
.page-changer{
    display:flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.add-button {
    display: flex;
    align-items: center;
    background-color: #3498db;
    height: 50%;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
    outline: none;
}

.add-button:hover {
    background-color: #2176bd;
}

.plus-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 18px;
}
.pagination{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prevPageBtn, .nextPageBtn{
    margin: 0 10px;

    width: 40px;
    height: 40px;
    font-size:30px;
    color: gray;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
    outline: none;
}
.prevPageBtn:hover, .nextPageBtn:hover{
    text-decoration: #cccccc;
}
.currentPage{
    color: gray;
}