.project-detail-container{
    width: 90%;

    margin: 5% 5% 0 7%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.project-detail-container:nth-child(1){
    grid-column: 1 / span 2;
}
.project-detail-title{
    font-size: 30px;
}