
.contents-wrapper{
    margin-right: 60px;
    margin-left: 115px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-page-title{
    margin: 5% 0 3% 0;
    font-size: 24px;
    width: 81%;
    max-width: 1200px;
}
.project-page-table{
    width: 96%;
    background: #fcfbff;
}
.project-page-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}
.proj-data-row0{
    background: rgb(241, 239, 248);
}
.proj-data-row1{
    background: #fcfbff;
}
.proj-data-row0, .proj-data-row1{
    max-height: 10px;
    height: 4.5vmin;

    transition-duration: 0.1s;
    cursor: pointer;
}
.proj-data-row0:hover, .proj-data-row1:hover{
    background: rgb(228, 226, 234);
}
.project-page-proj-add-btn{
    height: 4.5vmin;
    max-height: 60px;
    width: 96%;
    transition-duration: 0.1s;
    cursor: pointer;

    align-content: center;
}
.project-page-proj-add-btn{
    background: #f2f1f6;

    padding-left: 2%;

    border-radius: 0 0 20px 20px;
}
.project-page-proj-add-btn:hover{
    background: rgb(228, 226, 234);
}