.loading-page-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-page-content{
    width: 100%;
    height: 100%;
    /*background-color: #F8F7FE;*/
    display: flex;
    justify-content: center;
    align-items: center;
}   