.home-container {
    margin-left: 80px;
    width: calc(100% - 80px);
}

.home-contents-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
    margin-left: 5%;
    margin-top: 1%;
}

.home-task-contianer, .home-project-contianer{
    width: 65vw;
    margin-top: 2%;
}

.home-project-header, .home-task-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}


.home-project-title, .home-task-title{
    font-size: 25px;
    font-weight: 800;
}

/**/
.home-project-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

@media (max-width: 1600px) {
    .home-project-content {
      grid-template-columns: repeat(2, 1fr);  /* 화면이 1600px 이하일 때 2개 */
    }

    .home-project-content > :nth-child(n+3) {
        display: none; /* 3번째부터 숨김 */
    }
  }

/*project folder 관련*/
.home-project-folder-container{
    position: relative;
    display: inline-block;
}

.home-project-folder-wrapper{
    position: absolute;
    top: 14%;
    left: 10%;
}

.home-project-folder-header{
    font-weight: 800;
    font-size: 20px;
}

.home-project-folder-content{
    display: flex;
    justify-content: space-between;
    width: 130%;
    margin-top: 30%;
}

.home-project-folder-item{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 700;

}

.home-project-folder-item-content{
    margin-top: 2%;
    position: relative;
}

.home-project-folder-item-text{
    position: absolute;
    top: 20%;
    font-size: 25px;
}


/*task 관련*/
