.submenubar {
    height: 50px;
    background-color: #ffffff;

    border-bottom: 1px solid #DFDFDF;

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 700px;
}

.submenubar-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    padding: 0 calc(15% + 80px) 0 15%;
    margin: 0;
    font-size: 18px;
    font-weight: 600;

    height: 100%;
}
.display-mode{
    height: 100%;
    width: 18%;

    font-weight: 330;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    transition-duration: 0.1s;
}
.display-mode:hover{
    background: rgba(242,242,242,0.76);

}

.name_and_functions{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
