.submenubar {
    margin-left: 50px;
    padding-right: 50px;
    width: calc(100% - 50px);
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #DFDFDF;
    border-top: 0px; border-right: 0px;
    border-radius: 0px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 700px;
}

.submenubar-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    padding: 0 5%;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.display-mode{
    margin: 0px 20px 0px 20px;
    cursor: pointer;
}
.display-mode:hover{
    color: #b6b6b6;
}

.name_and_functions{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
