.tasks-table-container{
    width: 100%;
}
table {
    border-collapse: collapse;
}
.entire-table{
    width: 100%;
}
.column-head{
    font-size: 15px;
    height: 50px;
    text-align: center;
}
.column-head th{
    font-weight: 330;
    color: #656565;
}
.tasktable-right-bar{
    width: 100%;
    border-right: #d6d6d6 solid 1px;
}

.data-row0{
    background: #fcfbff;

    transition-duration: 0.1s;
    cursor: pointer;
}
.data-row1{

    background: #edecf3;

    transition-duration: 0.1s;

    cursor: pointer;
}
.data-row0:hover, .data-row1:hover{
    background: rgb(228, 226, 234);
}
td {
    padding: 0;
    text-align: center;
}
.task_name{
    cursor: pointer;
    transition-duration: 0.1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.taskTable-status{
    display: flex;
    align-items: center;
    justify-content: center;
}
.taskTable-status-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5.5vmin;
}

.entire-table tr{

    height: 5.5vmin;
}
.no-data{
    width: 100%;
    height: 30vh;

    border-radius: 15px;
    border: 1px dashed #d9d9d9;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

    color: #818181;

    padding: 4%;
}
