/* App.css */
html, body{
    background: #F8F7FE;
}

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
}

#root{
    min-width: 840px;
}

*, *::before, *::after {
    box-sizing: inherit;
}