

.modal-container {
    /*backdrop-filter:blur(10px);*/

    background-color: white;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);

    width: 50vw;

    border: solid lightgray 1px;
    border-radius: 15px;

    position: fixed;
    left: 25%;
    top: 16%;

    /*display: flex;*/
    justify-content: center;
    align-items: center;
}
.modal-content {

    margin: auto 0;

    width: 100%;

    /*justify-content: center;*/
    /*justify-items: center;*/
    /*align-items: center;*/
}


.job-form-wrapper{
    display: flex;
    width: 94%;
    margin: 1% 3%;
    justify-content: space-between;
    padding: 0 5%;
    
    font-size: 20px;
}

.codePath-wrapper{
    display: flex;
    width: 94%;
    margin: 1% 3%;
    justify-content: space-between;
    padding: 0 5%;
}

.job-form-left-content, .job-form-right-content{
    width: 47%;
}


select {
    margin: 0px 0px 0px 5%;
    width: 70%;
    cursor: pointer;
}

ul{
    width: 100%;
}
li {
    list-style: none;

}
.labels{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.add-process {
    margin: 2%;
    font-size: 30px;
}
.submit-area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 5%;
}
.add-task-button{
    padding: 1% 2% 1% 2%;
}

.modal-close-button{
    padding: 1% 2% 1% 2%;
}
select{
    border: solid lightgray 2px;
    border-radius: 8px;
    margin: 0px;
    width: 100%;
    height: 30px;
    padding: 0.5% 1% 0.5% 1%;
}
.textfieldWrapper{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
}

.file-select-btn{
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #d9d9d9;
    border-radius: 8px;
    margin-top: 27px;
    margin-left: 10px;
    height: 28px;
    width: 30px;
    cursor: pointer;
}

.text-input{
    border: solid lightgray 2px;
    border-radius: 8px;
    font-size: 20px;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}


.textareaWrapper{
    display: flex;
    flex-direction: column;
    font-size: 20px;

    padding: 0 5%;
    width: 94%;
    margin: 1% 3%;

}

textarea {
    border: solid lightgray 2px;
    border-radius: 8px;
    height: 150px;
    
    font-size: 20px;
    resize: none;
}

.add-task-button{
    border: solid gray 2px;
    border-radius: 8px;
    height: 10%;
    width: 10%;
    margin-right: 2%;
    cursor: pointer;
}

.modal-close-button{
    border: solid gray 2px;
    border-radius: 8px;
    height: 10%;
    width: 10%;
    margin-left: 2%;
    cursor: pointer;
}
.add-task-button:hover{
     background: #FFFFFF;
 }
.modal-close-button:hover{
     background: #FFFFFF;
}